# SQL Server Configuration
DB_SERVER="your_server_name_or_localhost"
DB_PORT="1433"
DB_DATABASE="your_database_name"
DB_USER="your_username"
DB_PASSWORD="your_password"
DB_TRUST_SERVER_CERTIFICATE="true"
DB_ENCRYPT="true"

ENTUR_AUDIENCE="https://api.<your_entur_env_empty_if_prod>.entur.io"
ENTUR_CLIENT_ID="your_client_id"
ENTUR_CLIENT_SECRET="your_client_secret"
ENTUR_TOKEN_URL="https://partner.<your_entur_env_empty_if_prod>.entur.org/oauth/token"
ENTUR_API_URL="https://api.<your_entur_env_empty_if_prod>.entur.io/skoleskyss"

# Application Configuration
NODE_ENV="development" #[development/production]
APP_NAME="your_app_name"

# Logging 
BETTERSTACK_URL= "https://your_betterstack_endpoint_url",
BETTERSTACK_TOKEN= "your_betterstack_token",
BETTERSTACK_MIN_LOG_LEVEL= "WARN",
CONSOLE_ENABLED= "true",
CONSOLE_MIN_LOG_LEVEL= "debug",
TEAMS_WEBHOOK_URL= "https://your_teams_webhook_url",
TEAMS_MIN_LOG_LEVEL= "ERROR",
